{{#> postWrapper type="roll" characterName=characterName bottomBarValues=bottomBarValues rollTitle=rollTitle rollResult=rollResult critlevel=critlevel}}
  <div class="roll">
    {{!-- <ul class="roll__dice-results">
      {{#each dice}}
        <li>{{this}}</li>
      {{/each}}
    </ul> --}}
    {{!-- <ul><li>{{critlevel}}</li></ul> --}}
    <ul class="roll__dice-results">
      {{#each rollResult}}
        <li class="{{this.class}}" title="{{this.class}}">{{this.roll}}</li>
      {{/each}}
    </ul>   
  </div>
{{/ postWrapper }}